#divDetail {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#divDetail .top-actions-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#divDetail .top-actions-box .btn {
    font-size: 0.875rem;
}

#divDetail .top-actions-box .back-btn {
    background: var(--bs-gray-200);
    font-weight: 500;
    transition: background 0.125s ease-in-out;
    border: 1px solid var(--bs-gray-300);
}

#divDetail .top-actions-box .back-btn:hover {
    background: var(--bs-gray-300);
}

#divDetail .top-actions-box .post-edit-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#divDetail .detail-box .detail-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #EAEFF4;
}

#divDetail .detail-box .detail-top .post-title h2 {
    font-size: 1.5rem;
}

#divDetail .detail-box .detail-top .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#divDetail .detail-box .detail-top .post-info .writer-info span {
    color: var(--bs-gray-600);
}

#divDetail .detail-box .detail-top .post-info .separator {
    margin: 0 0.5rem;
    color: var(--bs-gray-300) !important;
}

#divDetail .detail-box .file-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.875rem 1.875rem 0;
}

#divDetail .detail-box .file-info .file-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid #EAEFF4;
    padding: 0.5rem 0;
    border-radius: 4px;
    background: none;
    width: 120px;
    height: 40px;
}

#divDetail .detail-box .file-info .file-info-button:hover {
    background: var(--bs-gray-100);
}

#divDetail .detail-box .file-info .file-info-button .file-info-name i {
    font-style: normal;
    color: var(--bs-primary);
}

#divDetail .detail-box .file-info .file-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2px;
    min-width: 180px;
    max-width: 240px;
    background: var(--bs-white);
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 78px;
}

#divDetail .detail-box .file-info .file-list li a {
    display: inline-block;
    width: 204px;
    color: var(--bs-primary);
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

#divDetail .detail-box .file-info .file-list li a:hover {
    text-decoration: underline;
}

#divDetail .detail-box .detail-content {
    min-height: 150px;
}

#divDetail .detail-box .detail-content img {
    margin: 1rem 0;
    max-width: 100%;
}

#divDetail .comment-box .comment-top .comment-count {
    font-style: normal;
    color: var(--bs-primary);
}

#divDetail .comment-box .comment-top h3 {
    font-size: 1.125rem;
    margin: 0;
}

#divDetail .comment-box .comment-list {
    border-top: 1px solid #EAEFF4;
}

#divDetail .comment-box .comment-list .empty-comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--bs-gray-400);
}

#divDetail .delete-form-container .delete-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    width: 40%;
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form .delete-form-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form .actions-box {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form .actions-box button {
    width: 50%;
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form .actions-box .cancel-btn {
    border: 1px solid var(--bs-gray-200);
}

#divDetail .delete-form-container .delete-form-wrapper .delete-form .actions-box .cancel-btn:hover {
    background: var(--bs-gray-100)
}