#divBoard {
    display: flex;
    flex-direction: column;
}

#divBoard .app-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0 1.25rem;
}

#divBoard .app-wrapper .left-box {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 300px;
    min-width: 300px;
}

#divBoard .app-wrapper .left-box .sidebar .sidebar-title {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem;
}

#divBoard .app-wrapper .left-box .sidebar .sidebar-menu {
    padding: 1rem;
    border-top: 1px solid var(--bs-gray-200);
    list-style: none;
    gap: 2px;
}

#divBoard .app-wrapper .left-box .sidebar .sidebar-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 12px 7px;
    text-decoration: none;
    color: var(--bs-dark);
    border-radius: 2px;
}

#divBoard .app-wrapper .left-box .sidebar .sidebar-menu a:hover {
    background: var(--bs-gray-100);
}

#divBoard .app-wrapper .left-box .sidebar .sidebar-menu a.active {
    background: var(--bs-gray-100);
    font-weight: 500;
    color: var(--bs-primary);
}

#divBoard .app-wrapper .right-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px 0;
    min-width: 976px;
}

#divBoard .app-wrapper .right-box .board-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
}

#divBoard .app-wrapper .right-box .board-top .board-title h5 {
    margin: 0;
}

#divBoard .app-wrapper .right-box .board-top .board-actions {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

#divBoard .app-wrapper .right-box .board-top .board-actions .form-inline {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
}

#divBoard .app-wrapper .right-box .board-top .board-actions .form-inline .form-control {
    min-width: 240px;
}

#divBoard .app-wrapper .right-box .board-top .board-actions button {
    white-space: nowrap;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper thead tr {
    margin: 0;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper thead th {
    height: 50px;
    color: #A6A8AD;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid var(--bs-gray-200);
    text-align: center;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td {
    height: 56px;
    color: var(--bs-gray-400);
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #F5F6F7;
    padding: 0 8px;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-title {
    display: flex;
    align-items: center;
    gap: 0 6px;
    text-align: left;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-title .board-data-category {
    color: var(--bs-primary);
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-title a {
    color: var(--bs-dark);
    text-decoration: none;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-title a:hover {
    text-decoration: underline;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-writer {
    display: flex;
    align-items: center;
    text-align: left;
}

#divBoard .app-wrapper .right-box .board-list .board-table-wrapper tbody tr td .board-data-user {
    color: var(--bs-dark);
}

#divBoard .app-wrapper .right-box .board-list .empty-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#divBoard .app-wrapper .right-box .board-list .empty-list-box h1 {
    color: var(--bs-gray-400);
    font-size: 1.25rem;
    font-weight: 500;
}

#divBoard .app-wrapper .right-box .board-list .board-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 40px;
}